<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHBML5PWdEfQ4CQ3uQyU4437wTqFtCqw0</string>
	<key>GCM_SENDER_ID</key>
	<string>783029460086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-sportshop</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-sportshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783029460086:ios:e7712cc8e82b1d5f911357</string>
</dict>
</plist>